.nav2 .nav .nav-item:hover {
    background-color: rgb(169, 162, 162);
    transition: .3s;
  }
  
  .nav2{
    box-shadow:0 0 5px #00171f;
  
  }

  footer{
    box-shadow: 0 0 10px #00171f;
    margin-top: -17px;
    background-color: #00171f}
  
  .carousel-inner .carousel-item {
    margin-bottom: 0px;
    box-shadow:  10px #00171f;

  } 
  
 