.nav2 .nav .nav-item:hover {
    background-color: rgb(169, 162, 162);
    transition: .3s;
  }
.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 1rem;

}

.sidebar ul li a .icon{
    width: 19px;
    display: inline-block;
}
.sidebar ul li a:hover{
    color: #0c7db1;
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon{
    color: #0c7db1;
}

